* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url(./—Pngtree—enchanted\ forest\ at\ night\ square_10676303.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    position: fixed;
    color: gold;
    margin: 10px;
    font-size: 20px;
}

label {
    line-height: 300px;
    text-align: center; 
    font-family: 'Mountains of Christmas', Roboto;
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
    animation: zoomup 3s ease infinite;
    animation-delay: calc(100ms * var(--i));
}

@keyframes zoomup {
    0%,
    100% {
      color: #ffb703;
      filter: blur(0.5px);
      text-shadow: 0 0 10px #ffb703, 0 0 20px #ffb703, 0 0 30px #ffb703,
        0 0 40px #ffb703, 0 0 50px #ffb703, 0 0 60px #ffb703;
    }
  
    50% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
    }
  }

input {
    width: 40%;
    height: 50px;
    font-size: 15px;
    border: goldenrod solid 3px;
    background: #f1f1f1;
}

button {
    padding: 10px;
    font-size: larger;
    border: solid goldenrod 3px;
    color: goldenrod;
}

p {
    margin: 10rem;
    font-size: 20px;
    color: beige;
    font-weight: bold;
}

#answer {
    font-size: 20px;
    color: beige;
    font-weight: bold;
    width: 100%;
}

footer {
    position: absolute;
    color: beige;
    width: 100%;
    bottom: 0;
    height: 2rem;
}